body,
html {
  margin: 0;
  font: 16px "Lato", sans-serif;
  height: 100%;
}

#header {

  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  height: 3.25em;
  left: 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header .alt {
  background-color: transparent;
  font-size: 1.25em;
  padding: 1em 2em;
  position: absolute;
}


.link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
}

.image {
  width: 260px;
  height: 180px;
}

.parallax {
  height: 100%;
  position: relative;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../img/imagem1.jpg);
}

.conteudo {
  position: absolute;
  left: 22%;
  top: 25%;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
}

.conteudo h1 {
  color: #4169E1;
  font-weight: bold;
}

.arredondamento {
  border-radius: 120px;
}